@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/Bebas500.woff2")format("woff2"), url("fonts/Bebas500.woff")format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/Bebas700.woff2")format("woff2"), url("fonts/Bebas700.woff")format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto300.woff2")format("woff2"), url("fonts/Roboto300.woff")format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto400.woff2")format("woff2"), url("fonts/Roboto400.woff")format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto400i.woff2")format("woff2"), url("fonts/Roboto400i.woff")format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto700.woff2")format("woff2"), url("fonts/Roboto700.woff")format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

body,
.navigation ul,
.main-footer p,
.conf-info h3 {
    padding: 0
}

body,
.navigation ul,
.conf-info p,
.details ul,
.webinar ul,
.dir ul {
    margin: 0
}

body {
    font-family: "Roboto", "Helvetica,", sans-serif;
    font-size: 18px
}

body,
.main-footer,
.conf-info p {
    line-height: 150%
}

body,
.navigation a:visited,
.conf-info h3,
.footer-right p b,
.footer-left p b {
    font-weight: 400
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px
}

.clearfix::after {
    display: table;
    content: "";
    clear: both
}

.navigation li:first-child::before {
    display: table;
    left: -145px;
    content: "КОНФЕРЕНЦИИ:";
    font-weight: 500;
    color: red
}

.hidden {
    display: none
}

.nobreak {
    white-space: pre-line
}

.btn,
.navigation li,
.reg-close {
    display: inline-block
}

.btn {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 7px;
    white-space: nowrap
}

.btn,
.conf-info small,
.conf-info p {
    font-size: 16px
}

.btn,
.navigation a,
.footer-right a {
    text-decoration: none
}

.btn,
.important,
.navigation a,
.conf-all h2,
.alert,
.conf-info h3,
.tags,
.reg-close,
.footer-right p b,
.footer-left p b {
    text-transform: uppercase
}

.btn,
.footer-left address,
.contacts {
    color: #ddd
}

.btn,
.main-footer,
.alert {
    background-color: #f24048
}

.btn:hover,
.footer-right a,
.alert {
    color: white
}

.btn:active {
    color: (255, 255, 255, 0.4)
}

.link-pdf {
    padding-right: 47px;
    background: url("images/pdf.svg")197px 50% / 30px no-repeat, #f24048
}

.main-header {
    position: sticky;
    left: 0;
    z-index: 10;
    background: url("images/logo.svg")100% 50% / 220px no-repeat, #fff
}

.main-header,
.navigation li:first-child::before,
.alert {
    top: 0
}

.main-header,
.main-photo {
    box-shadow: 2px 2px 15px grey
}

.logo,
.navigation,
.footer-left,
.quota img {
    float: left
}

.logo {
    width: 225px;
    height: 60px
}

.navigation,
.copyright,
.tags,
.webinar-info p.important {
    letter-spacing: 0.5px
}

.navigation ul,
.conf-list {
    list-style: none
}

.navigation li,
.conf-item,
.tags {
    position: relative
}

.navigation li {
    margin-right: 10px;
    padding: 0 5px
}

.main-photo {
    margin-left: 50px;
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #ddd
}

.navigation li:first-child::before,
.alert,
.link-conf {
    position: absolute
}

.navigation li:first-child::before,
.navigation a,
.conf-all h2 {
    font-family: "Bebas Neue", "Tahoma", sans-serif
}

.navigation li:first-child::before,
.navigation a,
.name time {
    font-size: 24px
}

.navigation a {
    font-weight: 500;
    color: black
}

.link-active a {
    color: red
}

.link-conf:hover {
    color: black
}

.navigation a:visited {
    border: 0
}

.navigation a:active,
.navigation .active,
.conf-all h2 {
    font-weight: 700
}

.navigation .active {
    border-top: 1px solid black
}

.main-footer {
    margin-top: 75px;
    padding: 25px 0
}

.main-footer,
.copyright,
.name time,
.reg-close {
    color: #fff
}

.main-footer p,
.reg-close {
    margin: 10px 0
}

.footer-left {
    width: 55%
}

.footer-left address {
    font-size: 17px;
    font-style: normal
}

.footer-left address,
.copyright,
.footer-right a,
.quota p,
.intro,
.conf-info time,
.conf-info p,
.name time {
    font-weight: 300
}

.copyright {
    display: block;
    opacity: 0.7
}

.copyright,
.conf-all h2 {
    margin-top: 50px
}

.copyright,
.tags,
.reg-close {
    font-size: 14px
}

.footer-right {
    float: right;
    width: 40%
}

.contacts {
    margin: 5px 0;
    padding-left: 25px
}

.footer-right a {
    padding-left: 7px;
    line-height: 1.75;
    word-wrap: normal
}

.quota {
    min-height: 300px;
    margin-bottom: 75px;
    padding-top: 50px;
    background-image: linear-gradient(to right, white 30%, #ddd)
}

.quota img {
    margin-right: 50px
}

.quota p {
    padding-top: 100px
}

.quota p,
.conf-info time,
.webinar-info p.important {
    font-size: 20px
}

.quota p,
.conf-info time,
.link-conf,
.w-info {
    color: #f24048
}

.intro,
.conf-info p {
    text-align: justify
}

.conf-all h2 {
    padding: 0 50px;
    font-size: 40px
}

.conf-all h2,
h1 {
    line-height: 125%
}

.conf-all h2,
.webinar-info p.important,
.w-info {
    text-align: center
}

.conf-list,
.conf-info {
    display: flex
}

.conf-list {
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -15px;
    line-height: normal
}

.alert {
    right: 0;
    padding: 15px 15px 10px;
    border-bottom-left-radius: 20px
}

.images,
.images img {
    width: 100%
}

.images {
    height: 280px;
    overflow: hidden
}

.images img {
    height: 100%
}

.images img,
.main-photo {
    object-fit: cover
}

.conf-info {
    flex-direction: column;
    padding: 15px 15px 65px
}

.conf-info h3 {
    margin: 5px 0 10px
}

.conf-info small {
    margin-bottom: 5px;
    text-transform: none
}

.conf-info p {
    padding: 25px 5px 25px 0;
    color: #666
}

.webinar-info {
    color: #666
}

h1 {
    margin-top: 0;
    padding-top: 30px
}

.tags {
    font-style: italic
}

.reg-close {
    width: auto;
    padding: 7.5px 15px;
    letter-spacing: 1.5px;
    border: 1px solid #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5)
}

.details ul,
.webinar-info ul {
    margin-bottom: 35px
}

.webinar-info ul p {
    margin: 3px 0 5px
}

.webinar-info p.important {
    text-decoration: underline;
    text-decoration-color: red
}

.finished {
    filter: grayscale(1)opacity(0.8)
}

.webinar-info ul li,
.details ul li,
.dir ul li {
    padding-top: 7.5px
}

.navigation li:last-child {
    margin-left: 50px;
    padding-left: 10px;
    border-left: 2px solid red
}

.navigation a:hover:not(.active) {
    border-bottom: 2px solid red
}

.navigation a:active,
.navigation .active {
    border-bottom: 1px solid black
}

.conf-item {
    align-self: stretch;
    flex-basis: 355px;
    margin: 0 15px 25px;
    background-color: #fff;
    box-shadow: 5px 5px 15px grey;
    border-bottom-left-radius: 25px
}

.link-conf {
    right: 0;
    bottom: 0;
    background-color: #ddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.w-info {
    margin-top: 5%;
    padding: 0 5%;
    margin-bottom: 50px;
    border-left: 3px solid #f24048;
    border-right: 3px solid #f24048
}

@media screen and (max-width:1100px) {
    .main-header {
        background-image: none
    }

    .quota p {
        padding-top: 0
    }
}

@media screen and (max-width:940px) {
    .main-header .container {
        padding: 10px
    }

    .navigation {
        padding: 0;
        margin: 15px 0 0;
        line-height: normal
    }

    .main-photo {
        width: 225px;
        height: 225px;
        margin-left: 10px
    }

    .navigation li:first-child::before {
        display: none
    }

    .navigation li:last-child {
        display: none
    }
}

@media screen and (max-width:700px) {
    .main-header {
        min-height: 128px
    }

    body,
    .footer-left address {
        font-size: 15px
    }

    body {
        line-height: 1.3
    }

    .container {
        padding: 0 17px
    }

    .logo {
        width: 0
    }

    .logo img {
        padding: 10px;
        width: 80px;
        height: auto
    }

    .navigation {
        float: right;
        margin-top: 0;
        line-height: 1.5;
        vertical-align: baseline;
        letter-spacing: normal
    }

    .navigation li,
    .footer-left,
    .footer-right {
        display: block
    }

    .navigation li {
        text-align: right
    }

    .main-footer {
        padding: 20px 0
    }

    .main-footer p {
        margin: 0
    }

    blockquote {
        margin: 0
    }

    .footer-left address {
        margin-top: 5px
    }

    blockquote,
    .quota p,
    .conf-list,
    .conf-all h2 {
        padding: 0
    }

    .quota {
        padding: 25px 0 15px;
        margin-bottom: 35px;
        min-height: 300px;
        background-image: linear-gradient(to bottom, white 70%, #ddd)
    }

    .quota p {
        clear: both
    }

    .intro {
        text-align: center
    }

    .conf-list li {
        min-height: 475px
    }

    .conf-list time {
        font-size: 18px
    }

    .conf-all h2 {
        font-size: 40px
    }

    .name .container {
        padding: 25px 15px 15px
    }

    ul {
        padding-left: 15px
    }

    .main-photo {
        display: none
    }

    .footer-left,
    .footer-right {
        margin-top: 15px;
        line-height: 1.35
    }

    .footer-left {
        width: 100%
    }

    .footer-right {
        width: 100%
    }

    .details h2,
    .dir h2,
    .org h2 {
        margin: 25px 0 0
    }

    .details ul li,
    .conf-info {
        padding-top: 5px
    }
}

@media screen and (max-width:460px) {
    .quota p {
        font-size: 16px
    }

    .conf-all h2,
    .main-footer {
        margin-top: 25px
    }

    .conf-all h2 {
        font-size: 30px
    }

    .conf-list li {
        min-width: 295px;
        min-height: 460px
    }

    .link-conf {
        padding-right: 15px;
        position: absolute;
        bottom: 0;
        right: 0
    }

    .btn {
        margin: 10px
    }
}