.page-header {
  width: 100%;
  height: 100vh;
  background: #090c35 url("img/bg_top.jpg") 50% 0%/cover no-repeat;
  text-transform: uppercase;
  color: #fff;
}
.header-grid {
  display: grid;
  grid-template-areas: "h-logo" "h-title" "h-buttons" "h-list";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr 25vh 15vh;
  height: 100vh;
}
.header-top {
  grid-area: h-logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
}
.header-logo {
  width: 42.8vw;
  max-width: 189px;
  margin: 0 auto;
}
.header-logo img {
  width: 100%;
  height: auto;
}
.header-slogan {
  display: none;
}
.header-title {
  position: relative;
  grid-area: h-title;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header-title__item {
  position: relative;
  z-index: 1;
  font-size: calc((100vw - 320px) / 448 * 32 + 32px);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1.75px;
}
.header-title__item:last-of-type {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  width: 7.75em;
}
.header-title::before {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  content: '';
  width: 221px;
  height: 4px;
  -webkit-transform: translateX(-50%) rotate(128deg);
  transform: translateX(-50%) rotate(128deg);
  background-color: #936eea;
}
.sports {
  grid-area: h-list;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -5px -15px;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
}
.sports__item {
  margin: 5px 15px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.25px;
  color: #5e3db3;
}
.header-buttons {
  grid-area: h-buttons;
  text-align: center;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin: 10px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  letter-spacing: 0.4px;
  text-align: left;
  color: #fff;
  background-color: #5e3db3;
  background-position: 30px 50%;
  background-repeat: no-repeat;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover,
.btn:focus {
  background-color: #936eea;
}
.btn:active {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.btn-astore {
  background-image: url("img/icon-astore.png");
  background-size: 30px 34px;
}
.btn-gplay {
  background-image: url("img/icon-gplay.png");
  background-size: 34px 36px;
}
.owl-dots {
  position: relative;
  margin-top: -48px;
  padding-bottom: 20px;
  text-align: center;
}
.owl-dots .owl-dot {
  position: relative;
  z-index: 9999;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  background-color: #e7e7e7 !important;
  border-radius: 50%;
}
.owl-dots .owl-dot.active {
  background-color: #936eea !important;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/PN400.woff2") format("woff2"), url("../fonts/PN400.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/PN600.woff2") format("woff2"), url("../fonts/PN600.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/PN700.woff2") format("woff2"), url("../fonts/PN700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font: normal 400 20px/28px "ProximaNova", Verdana, sans-serif;
  text-transform: uppercase;
}
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0 19px;
}
.title {
  margin: 0;
  padding: 0;
  font-size: calc((100vw - 320px) / 448 * 62 + 28px);
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}
.advant {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advant__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 50px;
  height: 175px;
}
.advant__wraper {
  padding: 0 19px;
}
.advant__number {
  position: relative;
  top: 25px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.advant__number::after {
  position: absolute;
  margin-top: 25px;
  margin-left: -20px;
  content: '';
  width: 17px;
  height: 4px;
  background-color: #5e3db3;
  border-radius: 2.5px;
}
.advant__title {
  margin: 0 0 0 40px;
  padding: 0;
  font-size: calc((100vw - 320px) / 448 * 8 + 28px);
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #c2c2c2;
}
.advant__text {
  margin: 0;
  padding: 20px 0;
  font-size: 15px;
  line-height: 18px;
}
.advant__text--w {
  color: #fff;
}
.advant__item--grey {
  background-color: #f5f4f9;
}
.advant__item--mv {
  background-color: #5e3db3;
}
.advant__item--dw {
  background-color: #090c35;
}
.advant__number--bw::after {
  background-color: #fff;
}
.advant__number--vw {
  color: #5e3db3;
}
.advant__number--vw::after {
  background-color: #fff;
}
.athlets,
.players {
  position: relative;
  text-transform: none;
}
.athlets__title,
.players__title {
  height: 50vh;
  margin-top: 10px;
  padding: 0 19px;
  font-size: 50px;
  line-height: 60px;
}
.athlets__img,
.players__img {
  position: absolute;
  z-index: 100;
  top: 55px;
}
.athlets__img img,
.players__img img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 45vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.athlets__img::before,
.players__img::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  content: '';
  width: 150px;
  height: 4px;
  -webkit-transform: translate(15px, 75px) rotate(128deg);
  transform: translate(15px, 75px) rotate(128deg);
  background-color: #936eea;
}
.athlets__img::after,
.players__img::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 150px;
  height: 4px;
  -webkit-transform: translate(15px, -75px) rotate(128deg);
  transform: translate(15px, -75px) rotate(128deg);
  background-color: #936eea;
}
.case-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.case {
  display: grid;
  grid-template-columns: 19px 70px 1fr 19px;
  grid-template-rows: calc(67.5vh - 58px) 58px 12px auto 1fr;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  text-transform: none;
}
.case__img {
  grid-area: 1/1/3/-1;
  overflow: hidden;
}
.case__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.case__number {
  grid-area: 2/2/4/3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fff;
  text-align: center;
  background-color: #5e3db3;
}
.case__number::before {
  position: absolute;
  margin-top: 22px;
  content: '';
  width: 16px;
  height: 4px;
  background-color: #936eea;
  border-radius: 2.5px;
}
.case__title {
  grid-area: 4/2/5/-2;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  padding: 15px 0 7.5px;
}
.case__text {
  grid-area: 5/2/-1/-2;
  position: relative;
  margin: 0;
  padding: 0 0 20px;
  font-size: calc((100vw - 320px) / 448 * 8 + 16px);
  line-height: 1.1875;
}
.case__text::after {
  position: absolute;
  left: 0;
  margin-top: 35px;
  content: '';
  width: 22px;
  height: 5px;
  background-color: #936eea;
  border-radius: 2.5px;
}
.page-footer {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  background: #090c35 url("img/bg_bottom.jpg") 50% 0%/cover no-repeat;
}
.footer-grid {
  display: grid;
  grid-template-areas: "f-app" "f-buttons" "f-info";
  grid-template-rows: 55% auto auto;
  width: 100%;
  height: 100vh;
}
.app {
  grid-area: f-app;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 1.25;
}
.app__logo {
  width: 65px;
  height: 68.5px;
}
.app__logo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.app__des {
  position: relative;
  text-align: left;
  padding: 20vw 0 15vw;
}
.app__des::before {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 25%;
  content: '';
  width: 30vw;
  height: 4px;
  -webkit-transform: translateX(-50%) rotate(128deg);
  transform: translateX(-50%) rotate(128deg);
  background-color: #936eea;
}
.app__des::after {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 75%;
  content: '';
  width: 60vw;
  height: 4px;
  -webkit-transform: translateX(-50%) rotate(128deg);
  transform: translateX(-50%) rotate(128deg);
  background-color: #936eea;
}
.app__title {
  position: relative;
  z-index: 1;
  font-size: calc((100vw - 320px) / 448 * 46 + 34px);
  font-weight: 700;
  color: #fff;
}
.app__slogan {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: calc((100vw - 320px) / 448 * 21 + 15px);
  font-weight: 700;
  color: #a496ca;
}
.footer-buttons {
  grid-area: f-buttons;
  text-align: center;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  margin: 15px 0;
}
.info {
  grid-area: f-info;
  display: grid;
  grid-template-areas: "f-l f-s f-c";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 5px 0 10px;
}
.footer-logo {
  display: none;
}
.footer-logo img {
  width: 100%;
  height: auto;
}
.social {
  grid-area: f-s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__item {
  margin: 0;
  padding: 0;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
.social__link:hover,
.social__link:focus {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.fb {
  background: url("img/icon-fb.svg") 50% 50%/14px 27px no-repeat;
}
.tw {
  background: url("img/icon-tw.svg") 50% 50%/27px 22px no-repeat;
}
.in {
  background: url("img/icon-in.svg") 50% 50%/24px 24px no-repeat;
}
.copyright {
  display: none;
}
@media screen and (min-width: 480px) {
  .header-grid {
    grid-template-areas: "h-logo" "h-title" "h-list" "h-buttons";
    grid-template-rows: auto 1fr 15vh 25vh;
  }
  .header-logo {
    margin: 0 auto 0 0;
  }
  .header-slogan {
    display: inline;
    font-size: 14px;
    line-height: 17px;
  }
  .btn {
    width: 310px;
    height: 77px;
    padding-left: 105px;
    background-position: 45px 50%;
  }
  .app__des {
    padding: 50px 0 40px;
  }
}
@media screen and (min-width: 768px) {
  .header-title__item {
    font-size: calc((100vw - 768px) / 1152 * 27.5 + 70px);
  }
  .header-title::before {
    width: 397px;
    height: 6px;
  }
  .sports__item {
    font-size: 16px;
    line-height: 19px;
  }
  .container {
    padding: 0 calc((100vw -320px) / 448 * 14 + 19px);
  }
  .title {
    font-size: 90px;
  }
  .advant__item:first-of-type {
    height: 207px;
  }
  .advant__item:nth-of-type(2) {
    height: 235px;
  }
  .advant__item:last-of-type {
    height: 207px;
  }
  .advant__number {
    top: 30px;
    left: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .advant__number::after {
    top: -2.5px;
    left: 20px;
    width: 25px;
    height: 5px;
  }
  .advant__title {
    font-size: 36px;
    line-height: 44px;
  }
  .advant__text {
    font-size: 18px;
    line-height: 28px;
  }
  .athlets__title,
  .players__title {
    height: auto;
    margin-top: 55px;
    font-size: 90px;
    line-height: 110px;
  }
  .athlets__img,
  .players__img {
    top: -25px;
  }
  .athlets__img img,
  .players__img img {
    max-height: 100%;
  }
  .athlets__img::before,
  .players__img::before {
    -webkit-transform: translate(-75px, 125px) rotate(128deg);
    transform: translate(-75px, 125px) rotate(128deg);
    width: 275px;
    height: 5px;
  }
  .athlets__img::after,
  .players__img::after {
    -webkit-transform: translate(150px, -150px) rotate(128deg);
    transform: translate(150px, -150px) rotate(128deg);
    width: 275px;
    height: 5px;
  }
  .athlets__img {
    right: 57.5vw;
    width: auto;
    height: auto;
  }
  .athlets__img img {
    width: auto;
    height: 700px;
  }
  .athlets__title {
    padding-left: 40vw;
    padding-right: 40px;
  }
  .athlets .advant__wraper {
    padding-left: 40vw;
    padding-right: 40px;
  }
  .players__img {
    left: 45vw;
    right: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
  }
  .players__img img {
    width: auto;
    height: 600px;
  }
  .players__title {
    padding-left: 40px;
    padding-right: 40vw;
  }
  .players .advant__wraper {
    padding-left: 40px;
    padding-right: 40vw;
  }
  .case {
    grid-template-columns: 25px 116px 1fr 25px;
    grid-template-rows: calc(67.5vh - 80px) 80px 35px auto 1fr;
  }
  .case__number {
    font-size: 24px;
  }
  .case__number::before {
    margin-top: 40px;
    width: 30px;
    height: 5px;
  }
  .case__title {
    padding: 35px 0 15px;
  }
  .case__text {
    font-size: 24px;
    line-height: 29px;
  }
  .case__text::after {
    margin-top: 60px;
  }
  .app__logo {
    width: 130px;
    height: 137px;
  }
  .app__logo img {
    border-radius: 25px;
  }
  .app__des::before {
    width: 200px;
    height: 6px;
  }
  .app__des::after {
    width: 400px;
    height: 6px;
  }
  .app__title {
    font-size: calc((100vw - 768px) / 432 * 10 + 80px);
  }
  .app__slogan {
    font-size: 36px;
    line-height: 44px;
  }
}
@media screen and (min-width: 992px) {
  .sports {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    margin-left: auto;
    width: auto;
  }
  .athlets__img,
  .players__img {
    top: -80px;
  }
  .athlets__img::before,
  .players__img::before {
    -webkit-transform: translate(50px, 200px) rotate(128deg);
    transform: translate(50px, 200px) rotate(128deg);
    width: 375px;
    height: 6px;
  }
  .athlets__img::after,
  .players__img::after {
    -webkit-transform: translate(100px, -200px) rotate(128deg);
    transform: translate(100px, -200px) rotate(128deg);
    width: 375px;
    height: 6px;
  }
  .athlets__img img {
    height: 850px;
  }
  .players__img {
    left: 35vw;
  }
  .players__img img {
    height: 815px;
  }
  .players .advant__wraper {
    padding-right: 50vw;
  }
  .case {
    grid-template-columns: calc(50% - 84px) 84px 84px calc(50% - 84px);
    grid-template-rows: 210px 155px 365px;
    max-width: 100%;
    height: auto;
  }
  .case:nth-of-type(even) .case__img {
    grid-area: 1/3/-1/-1;
  }
  .case:nth-of-type(even) .case__title {
    grid-area: 2/1/3/2;
    padding: 0 40px 0 60px;
  }
  .case:nth-of-type(even) .case__text {
    grid-area: 3/1/-1/2;
    padding: 65px 40px 0 60px;
  }
  .case:nth-of-type(even) .case__text::after {
    left: 60px;
  }
  .case__img {
    grid-area: 1/1/-1/3;
  }
  .case__number {
    grid-area: 2/2/3/4;
  }
  .case__title {
    grid-area: 2/4/3/-1;
    padding: 0 60px 0 40px;
    font-size: 75px;
    line-height: 0.85;
  }
  .case__text {
    grid-area: 3/4/-1/-1;
    padding: 65px 60px 0 40px;
    line-height: 1.5;
  }
  .case__text::after {
    left: 40px;
  }
  .app {
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 100px 0;
  }
  .app__des {
    padding: 0 25px;
  }
  .footer-buttons {
    margin: 0;
  }
  .info {
    margin: 0;
  }
  .footer-logo {
    display: block;
    grid-area: f-l;
    width: 190px;
    height: auto;
  }
  .copyright {
    display: block;
    grid-area: f-c;
    text-align: right;
    color: #fff;
  }
  .copyright__link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
    color: #fff;
  }
  .copyright__link:hover,
  .copyright__link:focus {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(255,255,255,0.5);
            text-decoration-color: rgba(255,255,255,0.5);
  }
}
@media screen and (min-width: 1200px) {
  .header-title {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end;
  }
  .header-title__item:last-of-type {
    width: auto;
  }
  .sports__item {
    font-size: 14px;
    line-height: 17px;
  }
  .container {
    padding: 0 20px;
    max-width: 1300px;
  }
  .advant__text {
    font-size: 20px;
  }
  .athlets__title {
    padding-left: 50vw;
  }
  .athlets .advant__wraper {
    padding-left: 50vw;
  }
  .players__title {
    padding-right: 50vw;
  }
  .case__title {
    font-size: 90px;
  }
  .app__title {
    font-size: 90px;
  }
}
